Package: com.clarkecdc.open11
Name: open11
Depends: 
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: Christian
Author: Christian
Section: System
Tag: role::hacker
Version: 0.0.1-9+debug
Installed-Size: 68
